* {
  font-family: "Roboto", Arial, sans-serif;
}

:root {
  --primary-color: #3f7644;
  --secondary-color: #2ecc71;
  --accent-color: #e74c3c;
  --text-color: #333;
  --back-color: #eef3eb;
  --side-padding: 35px;
  --swiper-theme-color: #3f7644;
}

body {
  background-color: var(--back-color);
  scroll-behavior: smooth;
}

/* Общие */

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.section__content {
  padding: 75px var(--side-padding) 0 var(--side-padding);
}

.display-none {
  display: none;
}

h2 {
  font-family: RobotoSlab;
  font-size: 32px;
  line-height: 32px;
  color: var(--primary-color);
  text-align: center;
  padding-bottom: 45px;
}

.text-color__primary {
  color: var(--primary-color);
}

.text-color__white {
  color: #fff;
}

/* Nav */

.container__nav {
  background-color: var(--primary-color);
  height: 10vh;
}

.nav {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 15px var(--side-padding);
  display: flex;
  gap: 75px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  content: "";
  min-width: 63px;
  height: 35px;
  background-image: url(../img/АК.svg);
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}

.menu__item {
  list-style: none;
  font-family: RobotoSlab;
  font-size: 15px;
  line-height: 16px;
  color: white;
}

.menu__link {
  font-family: "RobotoSlab";
  scroll-behavior: smooth;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.menu__link:hover {
  color: var(--secondary-color);
}

.nav__burger {
  display: none;
}

/* Hero */

.hero {
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  height: 90vh;
  border-bottom: 1px solid var(--secondary-color);
  justify-content: space-between;
}

.hero__text {
  flex: 5;
  padding-left: var(--side-padding);
  text-align: center;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__photo_wrapper {
  flex: 4;
  overflow: hidden;
}

.hero__photo {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.hero__prehead {
  margin: 0 0 10px 0;
  font-family: Roboto;
  font-size: clamp(20px, 2.5vw, 88px);
  font-weight: 300;
}

.hero__head {
  margin: 0 0 15px 0;
  font-size: clamp(48px, 8vw, 92px);
  line-height: clamp(40px, 7vw, 88px);
  color: var(--primary-color);
  font-weight: 900;
}

.hero__caption {
  font-weight: 400;
  margin: 5px 0;
  padding: 0 20px;
  font-size: clamp(14px, 1.5vw, 92px);
}

/* Обо мне */

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 75px 0 0 0;
}

.cards__card {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.card__text {
  font-family: RobotoSlab;
  font-size: 16px;
  align-self: flex-start;
  line-height: 20px;
  text-align: center;
  padding: 0 15px;
  height: 100px;
}

.card__pic {
  width: 130px;
  height: 110px;
  background-repeat: no-repeat;
  background-position: center;
}

.card__pic--1 {
  background-image: url(../img/card__pic--1.svg);
}

.card__pic--2 {
  background-image: url(../img/card__pic--2.svg);
}

.card__pic--3 {
  background-image: url(../img/card__pic--3.svg);
}

.card__pic--4 {
  background-image: url(../img/card__pic--4.svg);
}

/* Принципы */

.text {
  font-weight: 300;
  margin: 0;
  padding-bottom: 16px;
  font-size: 20px;
  line-height: 28px;
  padding-right: 15%;
}

.text__emphasize {
  padding-left: 10%;
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  margin-top: 0;
}

.banner {
  background-color: var(--primary-color);
  position: relative;
  margin-left: 10%;
  margin-top: 20px;
  padding: 5px 128px 5px 125px;
}

.banner__text {
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
}

.banner__text::before {
  content: "";
  display: block;
  position: absolute;
  left: 45px;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  background-image: url("../img/exclamation.svg");
}

/* Swiper */

.swiper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide__head {
  font-weight: 500;
  margin: 0;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 18px;
  color: var(--primary-color);
}

.slide__caption {
  font-size: 14px;
  margin: 0;
  padding-left: 18px;
}

.slide__caption::before {
  content: "";
  width: 13px;
  position: absolute;
  left: 0;
  height: 17px;
  background-image: url("../img/map-point.svg");
}

.slide__descr {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
}

/* Swiper - пагинация и кнопки */

.swiper-buttons-wrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: center;
  gap: 25px;
}

.swiper-pagination {
  position: unset;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: auto;
}

.swiper-button-prev,
.swiper-button-next {
  position: relative;
  top: unset;
  margin-top: 0;
  content: "";
}

.swiper-button-prev::before,
.swiper-button-next::before {
  position: relative;
  content: "";
  top: unset;
  width: 27px;
  height: 26px;
  background-color: var(--primary-color);
  border-radius: 100%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
}

.swiper-button-prev::after {
  transform: rotate(45deg) translate(1px, -1px);
}

.swiper-button-next::after {
  transform: rotate(225deg) translate(1px, -1px);
}

/* Контакты */

.contacts__wrapper {
  display: flex;
  gap: 30px;
  flex-direction: row;
  padding-bottom: 15px;
}

.contacts__descr__wrapper {
  width: 33%;
}

.contacts__form {
  width: 67%;
}

.contacts__descr {
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 15px;
}

.contacts__links-wrapper {
  position: relative;
}

.contacts__link {
  padding-left: 30px;
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
}

.contacts__link::before {
  content: "";
  position: absolute;
  left: 1px;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  background-size: contain;
}

.link__mail::before {
  background-image: url("../img/link__mail.svg");
}

.link__telegram::before {
  background-image: url("../img/link__telegram.svg");
}

.link__fedresurs::before {
  background-image: url("../img/link__fedresurs.svg");
}

.contacts__link-item {
  text-decoration: underline;
}

/* Контакты - форма */

.form__wrapper {
  display: flex;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.form__part {
  width: 50%;
  /* border: 1px solid darkblue; */
  display: flex;
  flex-direction: column;
}

.form__label {
  display: block;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 10px;
}

.form__input {
  width: 90%;
  height: 30px;
  border: none;
  outline: none;
}

.form__input::placeholder {
  padding: 5px;
}

.form__button {
  height: 35px;
  width: 150px;
  background-color: transparent;
  outline: none;
  color: var(--primary-color);
  box-shadow: none;
  border: 1px solid var(--primary-color); /* Убираем обводку */
  outline: none; /* Убираем обводку при фокусе */
  margin-bottom: 10px;
  cursor: pointer;
}

.form__part_4 {
  align-items: center;
  justify-content: center;
}

.contacts__caption {
  font-size: 9px;
  text-align: center;
}

.input__big {
  height: 100px;
}

.form__input::placeholder {
  color: lightgrey;
  white-space: pre-wrap;
}

.form__part:nth-child(3),
.form__part:nth-child(4) {
  padding-top: 20px;
}

.form__textarea {
  height: 100px;
  resize: none;
}

#privacyPolicyLink {
  text-decoration: underline;
}

/* Модальное окно */

.modal {
  display: none; /* Изначально скрытое окно */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  position: relative;
  margin: 10% auto;
  padding: 20px 20px 20px 30px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
}

.modal-header,
.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header {
  padding-top: 20px;
  border-bottom: 1px solid #ddd;
}

.modal-footer {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.close {
  position: absolute;
  right: 12px;
  top: 5px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
}

.data-processing {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.data-processing__row {
  display: flex;
  margin-bottom: 10px;
}

.data-processing__label {
  flex: 1;
  font-weight: bold;
  padding-right: 10px;
}

.data-processing__value {
  flex: 2;
}

/* Footer */

.footer__wrapper {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  background-color: var(--primary-color);
}

.footer__contents {
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  padding: 0 var(--side-padding);
}

.footer__text {
  font-size: 10px;
}

.footer__top {
  font-size: 12px;
  position: relative;
}

.footer__top::before {
  position: absolute;
  right: 45px;
  content: "";
  background-image: url("../img/arrow_up.svg");
  width: 14px;
  height: 14px;
}
